@charset "ISO-8859-1";

body {
    background-color: rgb(53,53,53);;
}

.jump {
    height: 2px;
    clear: both;
}

header {
    width: 100%;
    color: rgb(0,128,220);
    background-color: rgb(40,40,40);
    float: left;
}

header #logo,
header nav {
    width: 20%;
    float: left;
}

.emp{
    height: 100%;
    width: 100%;
}

header h1 {
    width: 58%;
    text-align: center;
    float: left;
}

.tema {
	margin-left: 30px !important;
	padding-top: 10px !important;
	color: rgb(0,128,220) !important;
}

ul {
    /*list-style-type: none;*/
    margin-right: 30px;
}

li {
	margin-bottom: 10px;
}

a {
	text-decoration: none;
    color: rgb(0,128,220);
}

a:hover{
	color: #B5B5A5;
}



hr {
    background-color: black;
    border: black solid 1px;
}

footer {
    text-align: center;
    clear: both;
}

footer fieldset {
    display: inline;
    width: 30%;
    font-size: small;
}

form{
	margin-left: 36%;
	width: 25%;
	border-radius: 10%;
}

.form{
	background-color: rgb(40,40,40);
	border: solid rgb(0,128,220);
}


input, .form label, .form select{
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 30%;
}

.form label{
	padding-right: 10px;
	color: rgb(0,128,220);
}

.btng{
	width: 150px;
	height: 30px
}


.table{
	margin-left: 15%;
	width: 70%;
	border-radius: 10%;
	background-color: rgb(40,40,40);
	border: solid rgb(0,128,220);
}

td{
	color: rgb(223,238,255);
}

.titulo{
	color: rgb(0,128,220) !important;
}

#recto{
	border-radius: 0px;
}

.espacio{
	padding-top: 200px;
}
